li {
    text-align: center;
    font-size: 1.3em;
    width: 150px;
    padding: 10px;
    position: relative;
    left: 50px;
    top: 50px;
    background: pink;
    border: none ;
    border-bottom: 3px grey solid;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
li:hover {
    background: red;
}

