p {
    font-size: 1.3em;
    color: darkred;
    font-weight: bold;
    font-family: Arial, Verdana, sans-serif;
}

.regtable {
    font-weight: bold;
    color: red;
}

#greybox:hover  {
    background-color:pink;
}

h3 {
    text-decoration: underline;
    text-decoration-style: dotted;
}

button {
    padding: 10px 10px;
    background: maroon;
    color: white;
    border-radius: 15px;
}

#greybox {
    background-color: lightblue;
    padding: 20px;
    border: darkblue 1px dashed;
    width: 60%
}

input {
    border:none;
    border-bottom: black 1px solid;
}

#just-this {
    color:green;
    font-size: 1em;
}

td {
    padding-bottom: 5px;
    padding-right: 10px;
}

span {
    display:block;
}

div {
    width: 200px;
    height: 200px;
    border: 10px solid;
}

#box1 {
    border-color: red;
    background-color: pink;
}

#box2 {
    border-color: grey;
    background-color: black;
    opacity: 0.5;
    position: relative;
    left: 80px;
    top: -100px;
}

#box1:hover {
    background-color: red;
}

#box2:hover {
    background-color: grey;
}